body {
background-image: url("../images/sky2.png");
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}

  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -100px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .page-footer, .page-wrap:after {
    height: 80px; 
  }


