body {
  background-image: url("../images/sky2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
}