body {
background-image: url("../images/sky2.png");
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}
footer{
position: relative;
left: 0;
bottom: 0;
width: 100%;
overflow: auto;
}